/* .header {
  grid-area: h;
} */

.header img {
  width: 90px;
}

.loginBlock {
  float: right;
  margin: 10px;
}

.logout {
  padding: 5px;
  color: #1890ff;
}

.navBlock {
  margin-bottom: 20px;
}

.auth-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  color: #1890ff;
  /* Ant Design синий */
}

.auth-links a {
  text-decoration: none;
  font-size: 18px;
  color: #1890ff;
  transition: color 0.3s;
}

.auth-links a:hover {
  color: #40a9ff;
}

.logout a:hover {
  color: #f50606;
}