.nav {
  grid-area: n;
  background-color: blueviolet;
  padding: 20px;
}

.item a {
  color: azure;
  text-decoration: none;
}

.item a.active {
  color: gold;
}

.friend {
  padding: 10px;
  background-color: brown;
  margin-top: 10px;
}